<h1>
    {{
        (painting.id) ? 'Edit' : 'New'
    }}
    Painting  <small>{{painting.title}}</small>
</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Title</mat-label>
                <input [(ngModel)]="painting.title" matInput type="text" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Artist</mat-label>
                <input matInput type="text" [(ngModel)]="painting.artist">
            </mat-form-field>
        </div>


        <mat-form-field>
            <mat-label>Style</mat-label>
            <input matInput type="text" [(ngModel)]="painting.style">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="text" [(ngModel)]="painting.date">
        </mat-form-field>

        <mat-form-field>
            <mat-label>technique</mat-label>

            <mat-select>
                <mat-option>
                    {{painting.technique}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>image Url</mat-label>
            <input matInput type="url" [(ngModel)]="painting.url_img">
        </mat-form-field>

        <br>


        <div fxLayout>
            <button mat-raised-button color="primary" (click)="save()">
                <mat-icon>edit</mat-icon>
                {{(painting.id) ? 'Edit' : 'Save'}}
            </button>

            <span class="spacer"></span>

            <button mat-raised-button color="warn" (click)="delete()" *ngIf="painting.id">
                <mat-icon>remove</mat-icon>
                Remove
            </button>

        </div>


    </div>

    <div fxFlex="50">
        <img [src]="painting | image">
    </div>

</div>