<mat-grid-list cols="1" *ngIf="!painting; else divPainting">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divPainting>


    <div fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px">

    <div fxFlex="50" >
        <h2>{{painting.artist}}</h2>
        <mat-divider></mat-divider>
        <br>
        <img [src]="painting | image">
    </div>

    <div fxFlex="50">
        <mat-list-item>{{painting.date}}</mat-list-item> 
        <mat-list-item>{{painting.location}}</mat-list-item>
        <button mat-button color="warn" (click)="goBack()">Back</button>

        
    </div>

    </div>
</ng-template>

